*{
    box-sizing: border-box;
}

body, html{
    background:rgb(71, 77, 85);
    text-align: center;
}
h2{
    color:rgb(48, 50, 53);
    margin-bottom: auto;
}
.container{
    margin: 0 auto;
    min-height: 100px ;
    width: 35rem;
    background: whitesmoke;
    
}
.unit-form{
    padding: 10px;
}
